* {
    box-sizing: border-box;
}
div {
    margin: 0;
    padding: 0;
}
.imgA {
    transition: none 0s ease 0s;
    opacity: 1;
}
.imgB {
    transition: opacity 1s ease-out 0s;
    opacity: 1;
}
.imgC {
    transition: opacity 1s ease-in 0s;
    opacity: 0.2;
}
.divA {
    width: 500px;
    background-color: red;
    /*overflow: hidden;*/
}
.divB {
    width: 500px;
    height: 20px;
    /*overflow: hidden;*/
    background-color: darkgreen;
    position: relative;
}
.ulA {
    width: 500px;
    background-color: cyan;
    list-style-type: none;
    /*transition: left 1s linear 0s;*/
    padding: 0;
    margin: 0;

    position: absolute;
    left: 0;
}

.ulA li {
    width: 100px;
    height: 20px;
    float: left;
    background-color: orange;
}

.ulB {
    left: 500px;
}

.divC {
    width: 400px;
    height: 400px;
    display: flex;
    border: black 1px solid;
    background-color: red;
}
.divD {
    width: 200px;
    height: 200px;

    background-color: cyan;
}
.pA {
    background-color: orange;
}