.billBoard{
    width: 230px;
    border-top: #d3d3d3 1px solid;;
    border-left: #d3d3d3 1px solid;;
    border-bottom: #d3d3d3 1px solid;
}

.dataList li{
    height: 32px;
}
.dataList .titleLi {
    /*width: 230px;*/
    height: 120px;
}
.titleBox {
    padding: 20px 0 0 20px;
}

.titleIcon {
    width: 80px;
    height: 80px;
    float: left;
    position: relative;
    margin-right: 10px;
}

.titleIcon img {
    width: 100%;
    height: 100%;
    box-shadow: #525252 0 2px 2px;
}
.cover {
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    height: 80px;
    background: url("../../../../../../assets/coverall.png") no-repeat -145px -57px;
}
.title{
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-top: 4px;
}
.title:hover {
    text-decoration: underline;
}
.playIcon, .starIcon {
    width: 22px;
    height: 22px;
    display: inline-block;
}
.playIcon {
    background: url("../../../../../../assets/index.png") no-repeat -267px -205px;
}
.playIcon:hover {
    background: url("../../../../../../assets/index.png") no-repeat -267px -235px;
}
.starIcon {
    background: url("../../../../../../assets/index.png") no-repeat -300px -205px;
    margin: 10px 0 0 10px
}
.starIcon:hover {
    background: url("../../../../../../assets/index.png") no-repeat -300px -235px;
}
.songItem{
    display: flex;
    align-items: center;
    position: relative;
}

.number, .topNumber {
    width: 20px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    font-size: 15px;
    color: gray;
    margin: 0 4px 0 20px;
    display: inline-block;
}
.topNumber{
    color: #c10d0c;
}
.songName {
    width: 170px;
    height: 32px;
    line-height: 32px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}
.songName:hover {
    text-decoration: underline;
}
.operateIcon {
    display: none;
    width:  80px;
    height: 17px;
    /*background-color: red;*/
}
.operateIcon a {
    width: 17px;
    height: 17px;
    margin: 0 4px;
    display: inline-block;
}
.playIcon2 {
    background: url("../../../../../../assets/index.png") no-repeat -267px -268px;
}
.playIcon2:hover {
    background: url("../../../../../../assets/index.png") no-repeat -267px -288px;
}
.addIcon {
    background: url("../../../../../../assets/icon.png") no-repeat 2px -698px;
}
.addIcon:hover {
    background: url("../../../../../../assets/icon.png") no-repeat -20px -698px;
}
.starIcon2 {
    background: url("../../../../../../assets/index.png") no-repeat -297px -268px;

}
.starIcon2:hover {
    background: url("../../../../../../assets/index.png") no-repeat -297px -288px;
}
.all {
    line-height: 32px;
    display: inline-block;
    margin-left: 140px;
}

.all:hover {
    text-decoration: underline;
}

.backColor1 {
    background-color: #f4f4f4;
}
.backColor2 {
    background-color: #e8e8e8;
}
.showOperateIcon {
    display: block;
}
.hiddenOperationIcon {
    display: none;
}
.changeSongName{
    width: 90px;
}
.recoverSongName {
    width: 170px;
}